# Misc
Generative_Deep_Learning_2nd_Edition/
.ignore_dir/
data/
venv/
.venv/
README.html
__pycache__/

# Latex Files
*.out
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log

# HW1: VAE
vae-lego copy.gif
vae-lego.gif

# HW2: GAN
models
results*

# HW3: LLMs
food101_data
wandb

# Other
zeroscope_v2_576w/
StyleRF/
stable-dreamfusion/
threestudio/
3dsnet/