# Misc
Generative_Deep_Learning_2nd_Edition/
.ignore_dir/
data/
venv/
.venv/
README.html
__pycache__/
*.env
.vscode/

# Latex Files
*.out
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log

# HW1: VAE
vae-lego copy.gif
vae-lego.gif

# HW2: GAN
HW2_GANs_and_Diffusion/models/
results*

# HW3: LLMs
food101_data
wandb

# EVA
generative-models/
Project-EVA/src/vits/
audio*.wav
output.mp4
checkpoints/
outputs/
*.pth
*.safetensors
Project-EVA/src/configs/so-vits-svc/*.json

# Other
zeroscope_v2_576w/
StyleRF/
stable-dreamfusion/
threestudio/
3dsnet/